<div class="row"></div>
    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto mt-4">
        <div class="card">
    
            <div class="card-body table-responsive">
                <video id="videoPlayer" width="889" height="360" controls>
                    <!-- Replace 'video.mp4' with your local video file name -->
                    <source src="http://localhost:4000/uploads/<%= data.videoname%>" type="video/mp4">
                </video>
                <h4 style="font-size:15px;"><%= data.videoplaceholder%></h4>
                <a style='font-size:14px;' id="downloadLink" href="http://localhost:4000/uploads/<%= data.videoname%>" download="your-video-file.webm">
                    Download Video
                </a>
            </div>
        </div>
    </div>
</div>